html{
    scroll-behavior: smooth ;
}

.sec{
    height: 100vh;
    display: flex;;
    font-size: 2rem;
    font-weight: bold;
    color: white;
}

body{
    background-image: url("/black.jpg");
    margin: 0%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; /* Centers the image */
    height: 100vh;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 1rem 2rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}


ul{
    position: fixed;
    right:0;
}
.nav-link{
    color:white;
    cursor: pointer;
}

.nav-link:hover {
    color:red;
}



/*#home{
    background-image: url("/black.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    /* Centers the image 
    height: 100vh;
}

#about{
    background-image: url("/black_background.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; /* Centers the image 
    height: 100vh;
}

#projects{
    background-image: url("/black.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; /* Centers the image 
    height: 100vh;
}

#contact{
    background-image: url("/black_background.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; /* Centers the image 
    height: 100vh;
}*/